
body {
    padding-top: 54px;
    background-color: lightblue;
}

.bg-1 {
	background-color: lightgrey;
}

.home-stop {
	padding-top: 120px;
}

@media (min-width: 992px) {
  body {
  }
}

.title {
	font-size: 180px;
}

.subtitle {
	font-size: 30px;
}

.nav-title {
	font-size: 25px;
}

.at-home {
	padding-bottom: 190px;
}

.paddings {
	padding-top: 180px;
	padding-bottom: 180px;
}