<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Brownbear</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

    <style>
    <!-- Custom styles for this template -->
    <link href="home-page.css" rel="stylesheet">
    <style>
    
    body {
        padding-top: 54px;
        background-color: lightblue;
    }

    .bg-1 {
    	background-color: lightgrey;
    }

    .home-stop {
    	padding-top: 120px;
    }

    @media (min-width: 992px) {
      body {
      }
    }

    .title {
    	font-size: 180px;
    }

    .subtitle {
    	font-size: 30px;
    }

    .nav-title {
    	font-size: 25px;
    }

    .at-home {
    	padding-bottom: 190px;
    }

    .paddings {
    	padding-top: 180px;
    	padding-bottom: 180px;
    }
    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand nav-title" href="#">BrownBear</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div id="home" class="text-center at-home home-stop">
      <h1 class="mt-5 title">BROWN BEARS</h1>
      <p class="subtitle">Mapping thing</p>
      <br>
    </div>


    <div id="about" class="bg-1 text-center paddings container-fluid">
      <h1>Section 1</h1>
      <p>Click on the different Section links in the navbar to see the smooth scrolling effect.</p>
    </div>
    <div id="contact" class="text-center paddings container-fluid">
      <h1>Section 2</h1>
      <p>Click on the different Section links in the navbar to see the smooth scrolling effect.</p>
    </div>


    <!-- Bootstrap core JavaScript -->
<!--     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

    <script>
    $(document).ready(function(){
      // Add scrollspy to <body>
      $('body').scrollspy({target: "nav-link", offset: 50});   

      // Add smooth scrolling on all links inside the navbar
      $("#myNavbar nav-link a").on('click', function(event) {
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function(){
       
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        }  // End if
      });
    });
    </script>

  </body>

</html>
