<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico" />

    <title>Journee</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="home-page.css" rel="stylesheet">

    <style>
    
    body {
        padding-top: 54px;
        background-color: lightblue;
    }

    .bg-1 {
    	background-color: lightgrey;
    }

    .home-stop {
    	padding-top: 60px;
      background-image: url("http://www.ifreewallpaper.com/wallpapers_download/mobile/1200_800_wallpapers/20110904/B/B_travelingr_2dtly2b9.jpg");
      background-size: 100%;
    }

    @media (min-width: 992px) {
      body {
      }
    }

    .title {
    	font-size: 180px;
    }

    .subtitle {
    	font-size: 30px;
    }

    .nav-title {
    	font-size: 25px;
    }

    .at-home {
    	padding-bottom: 190px;
    }

    .paddings {
    	padding-top: 180px;
    	padding-bottom: 180px;
    }

    h2.abouto {
      width: 60%;
    }
    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand nav-title" href="#home">Journee</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div id="home" class="text-center at-home home-stop">
      <h1 class="mt-5 title">Journee</h1>
      <p class="subtitle">Create the trip of your dreams with the people you love.</p>
      <br>
      <!-- <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">Login with Google</a><br> -->

      <!-- Log In modal -->
      <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#login">Log In</button> -->
      <!-- <button type="button" class="btn btn-primary btn-lg" href="{% url 'social:begin' 'google-oauth2' %}?next=/">Login with Google</button> -->
      <a href="{% url 'social:begin' 'google-oauth2' %}?next=/" class="btn btn-primary btn-lg">Log In with Google</a>

    </div>

    <div id="about" class="abouto bg-1 text-center paddings">
      <h1>About Journee</h1>
      <br>
      <h2>Planning trips can get messy and difficult,</h2>
      <h2>whether through text, phone, or messenging apps.</h2>
      <h2>Journee allows you to plan where you'll visit and stay</h2>
      <h2>through a simple dashboard and easy drag and drop.</h2>
      <h2>Get the most out of your trip!</h2>
      <h2>Happy travelling!</h2>
      <br>
      <br>
      <img src="about.jpeg" style="border-radius: 50%">

    </div>

    <div id="contact" class="text-center paddings">
      <h1>We'd love to hear from you!</h1>
      <h2>Contact us at breadiefriends@mit.edu.</h2>   
      <br>
      <img src="starfish.jpg" style="border-radius: 5%; height: 15%; width: 15%">
      <br>
      <br>
      <h2>-Breadie Friends Co.</h2>
    </div>


    <script>
    $(document).ready(function(){
      // Initialize Tooltip
      $('[data-toggle="tooltip"]').tooltip(); 
      
      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {

          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 900, function(){
       
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    })
    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
    $(document).ready(function(){
      // Initialize Tooltip
      $('[data-toggle="tooltip"]').tooltip(); 
      
      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar nav-item a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {

          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 900, function(){
       
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    })
    </script>

  </body>

</html>
