<!DOCTYPE html>
<html>
  <head>
    <title>Place ID Finder</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .controls {
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid transparent;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        height: 29px;
        margin-left: 17px;
        margin-top: 10px;
        outline: none;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      .controls:focus {
        border-color: #4d90fe;
      }
      .title {
        font-weight: bold;
      }
      #infowindow-content {
        display: none;
      }
      #map #infowindow-content {
        display: inline;
      }

    </style>
  </head>
  <body>
    <input id="pac-input" class="controls" type="text"
        placeholder="Enter a location">
    <div id="map"></div>
    <div id="infowindow-content">
      <span id="place-name"  class="title"></span><br>
      Place ID <span id="place-id"></span><br>
      <span id="place-address"></span>
    </div>

    <script>
      // This sample uses the Place Autocomplete widget to allow the user to search
      // for and select a place. The sample then displays an info window containing
      // the place ID and other information about the place that the user has
      // selected.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function initMap() {
        console.log("{{data}}")
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13
        });

        var input = document.getElementById('pac-input');

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        var infowindow = new google.maps.InfoWindow();
        var infowindowContent = document.getElementById('infowindow-content');
        infowindow.setContent(infowindowContent);
        var marker = new google.maps.Marker({
          map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

        autocomplete.addListener('place_changed', function() {
          infowindow.close();
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            return;
          }

          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);
          }

          // Set the position of the marker using the place ID and location.
          marker.setPlace({
            placeId: place.place_id,
            location: place.geometry.location
          });
          marker.setVisible(true);

          infowindowContent.children['place-name'].textContent = place.name;
          infowindowContent.children['place-id'].textContent = place.place_id;
          infowindowContent.children['place-address'].textContent =
              place.formatted_address;
          infowindow.open(map, marker);
        });
        /*
        function initialize() {
          // Create a map centered in Pyrmont, Sydney (Australia).
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -33.8666, lng: 151.1958},
            zoom: 15
          });

          // Search for Google's office in Australia.
          var request = {
            location: map.getCenter(),
            radius: '500',
            query: 'Google Sydney'
          };

          var service = new google.maps.places.PlacesService(map);
          service.textSearch(request, callback);
        }
*/
        // Checks that the PlacesServiceStatus is OK, and adds a marker
        // using the place ID and location from the PlacesService.
        var list_of_places = [];
        function callback(results, status) {
          if (status == google.maps.places.PlacesServiceStatus.OK) {
            var marker = new google.maps.Marker({
              map: map,
              place: {
                placeId: results[0].place_id,
                location: results[0].geometry.location

              }
            });
            list_of_places.push(marker['place'['placeId']]);
          }
        }
        
        var makeURL = function(origin, destinations) {
          var overall_url = "https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=";
          overall_url += "place_id:";
          overall_url += origin;
          overall_url += '&destinations=';
          for (i = 0; i < destinations.length; i++) { 
            overall_url += "place_id:" + destinations[i];
          }
          overall_url += "&key=AIzaSyDOeTikeScYEd-fDy9hPPzfZPAmzZIvQn8";
          return overall_url;
        }
        
        var origin = "ChIJNyX2Sfl544kRnFqtCyhupcM";
        var destinations = ["ChIJkWKyV_5544kRvAsQAwhP0qQ"];
        var url = makeURL(origin, destinations);
        console.log(url);
        //google.maps.event.addDomListener(window, 'load', initialize);
        /*var getJSON = function(url, callback) {
          var xhr = new XMLHttpRequest();
          xhr.open('GET', url, true);
          xhr.responseType = 'json';
          xhr.onload = function() {
            var status = xhr.status;
            if (status === 200) {
              callback(null, xhr.response);
            } else {
              callback(status, xhr.response);
            }
          };
          xhr.send();
          return json_file;
        };*/

        var getJSON = function(url) {
          var params = {
            url: url
          }

          function formatParams( params ){
            return "?" + Object
                  .keys(params)
                  .map(function(key){
                    return key+"="+encodeURIComponent(params[key])
                  })
                  .join("&")
          }

          var xhr = new XMLHttpRequest();
          xhr.open('GET', './get_google_data' + formatParams(params), true);
          xhr.responseType = 'json';
          /*
          xhr.onload = function() {
            var status = xhr.status;
            if (status === 200) {
              callback(null, xhr.response);
            } else {
              callback(status, xhr.response);
            }
          };
          */
          xhr.send();
          console.log(xhr);
          return xhr;
        };

        var jsonFILE = getJSON(url);
        

        var analyzeJSON = function(file) {
          var destinations = file['destinations'];
          var rows = file['rows'];
          var distances = [];
          for (i = 0; i < rows.length; i++) { 
            distances.push((i, rows[i].distance));
          }
          distances.sort(function(a,b){return a[1] < b[1]})
          var final_list = [];
          for (i = 0; i < rows.length; i++) { 
            final_list.push(destinations[distances[i]]);
          }
        }

        var orderedDestinations = function(origin, destinations) {
          var overall_url = makeURL(origin, destinations);
          var json_file = getJSON(overall_url);
          var ordered_distances = analyzeJSON(json_file);
          return ordered_distances;
        }
        
      }
    </script>
    
    <script>
      console.log(5 + 6);
      
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOeTikeScYEd-fDy9hPPzfZPAmzZIvQn8&libraries=places&callback=initMap"
        async defer></script>
  </body>
</html>